<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512241814718-80d38712e7acpvu8fkp7rh83h59adu9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512241814718-80d38712e7acpvu8fkp7rh83h59adu9u</string>
	<key>API_KEY</key>
	<string>AIzaSyCncDAsoDx32HskifnyLUwNZrlJkQcf4tE</string>
	<key>GCM_SENDER_ID</key>
	<string>512241814718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.sajo.flutterprovider</string>
	<key>PROJECT_ID</key>
	<string>flutterprovider-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterprovider-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512241814718:ios:e17720ca1a338714bfe2ef</string>
	<key>DATABASE_URL</key>
	<string>https://flutterprovider-app.firebaseio.com</string>
</dict>
</plist>